* {
    box-sizing: border-box;
  }

  #background-one {
    background-color: whitesmoke;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  h4 {
    text-align: center;
    margin-top: 2px;
    padding-bottom: 3px;
  }

  p {
    margin-top: 5px;
  }
  
  .row {
    margin: 8px -16px;
    margin-left: 5px;
    margin-right: 5px;
  }

  img {
    width: 350px;
    height: 250px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 10px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    margin-top: 20px;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: rgba(245, 241, 241, 0.849);
    padding: 5px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */

  #myBtnContainer {
    margin-top: 15px;
    margin-left: 5px;
  }

  .btn {
    border: 0.5px solid rgba(20, 20, 20, 0.815);
    
    padding: 8px 10px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
     color: white;
  }