.clearfix {
    content: "";
    clear: both;
    display: block;
}

body {
    background-image: url(./assets/images/codepic.jpg);
    background-size: cover;
    overflow: scroll;
}

.heading {
    background: rgba(255, 255, 255, 0.6);
    justify-content: space-evenly;
    width: 100%;
}

h1 {
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    color: rgb(45, 46, 44);
    text-align: left;
    margin-top: -8.5px;
    margin-left: 0;
    margin-right:10%;
    margin-bottom: 2px;
    padding: 15px;
    padding-bottom: 2px;
}

h3 {
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    color: rgb(44, 43, 43);
    text-align: left;
    margin-left: 0;
    margin-right:10%;
    margin-top: 2px;
    padding: 15px;
    padding-top: 1px;
    padding-left: 70px;
    padding-bottom: 5px;
}

/*#nav ul {
    width: 180px;
    display: flex;
    justify-content: flex-end;
    color: rgb(44, 43, 43);
}
#nav li {
    list-style-type: none;
    margin: 10px 15px;
    color: rgb(44, 43, 43);
}
*/

.main-container{
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 50px;
    padding-right: 50px;
    height: 450px;
    overflow: scroll;
}

.container-info {

}

h2 {
    font-family: 'Poiret One', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}


#footer {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    border: 15px;
    /*border-top:8px solid teal; */
    padding: 5px;
    text-align: center; 
    font-size: small;
    color: rgb(32, 32, 32);
    margin-top: -30px;
    margin-bottom: 0;
}