

/* START OF MAIN PAGE SECTION */
.header-container {
    justify-content: space-evenly;
    max-width: 100%;
}

nav {
  background-color: rgba(216, 211, 211, 0.979);
}

a {
    color: rgb(8, 8, 8);
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    
}

.title {
  background-image: url(./assets/images/computercodebackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-left: auto;
  padding-top: 180px;
  padding-bottom: 250px;
  height: 600px;
}


h1 {
    background-color: rgba(212, 212, 212, 0.9);
    font-size: 90px;
    letter-spacing: .5cm;
    font-family: 'Poiret One', cursive;
    color: rgb(53, 53, 53);
    text-align: center;
    margin-bottom: 0;
    margin-left: 12%;
    margin-right: 12%;
} 

h3 {
    background-color: rgba(212, 212, 212, 0.9);
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    color: rgb(53, 53, 53);
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
}  

/* START OF ABOUT ME SECTION */

.container-about {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  width: 1224px;
  height: 700px;
  margin-left: 0;
  margin-right: 0;
}

#welcome {
  text-align: center;
  width: 150px;
  height: 50px;
}

#welcome-text {
  text-align: center;
}

#img-prof {
  width: 420px;
  height: 400px;
  padding-top: 55px;
  padding-right: 0;
  padding-left: 0;
  
}

.card-about {
  background-color: rgb(255, 255, 255);
  margin-top: 7%;
  margin-left: 0;
  padding-left: 0;
}

.media-links {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    width: 990px;
} 


#myinfo {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 0.5cm;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 12px;
}


.fa {
    padding: 20px;
    font-size: 25px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
  }
  
  .fa:hover {
    opacity: 0.7;
    border-radius: 30%;
  }

  ::before {
      align-content: center;
      align-items: flex-start;
      height: 2%;
  }
  
  .fa-facebook {
    color: rgb(22, 22, 22);
  }
  
  .fa-google {
    color: rgb(15, 15, 15);
  }
  
  .fa-linkedin {
    color: rgb(15, 15, 15);
  }
  
  .fa-instagram {
    color: rgb(17, 17, 17);
  }
 

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    
}

/* START OF RESUME SECTION */

.container-resume {
  background-image: url(./assets/images/computercodebackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1224px;
  height: 680px;
  margin-left: 0;
  margin-right: 0;
}

.card-resume {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 9%;
  margin-left: 2%;
}

#school-one {
  padding-top: 50px;
}

#school-two {
  padding-top: 50px;
}

#school-three {
  padding-top: 50px;
}

.btn-dark-two{
  background-color: rgb(20, 20, 20);
  color: white;
  margin-left: 100px;
}

/* START OF PORTFOLIO SECTION */

#background {
  background-image: url(./assets/images/computercodebackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.card {
  background-color: rgba(216, 216, 216, 0.692);
  box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 0.2), 0 6px 20px 0 rgba(228, 228, 228, 0.19);
  margin-top: 5%;
  justify-content: space-between;
  margin-left: 7.5%;
}

.container-work {
  
  width: 1224px;
  height: 680px;
  margin-left: 0;
  margin-right: 0;
}

.card-one {
  background-color: rgba(240, 240, 240, 0.842);
  color: rgb(0, 0, 0);
  margin-top: 8%;
  justify-content: space-between;
  margin-left: 7.5%;
}

.card-title {
  text-align: center
}

.card-text {
  text-align: center;
  font-size: 15px;
  padding-bottom: 8px;
}

.card-img-top {
  width: 290px;
  height: 220px;
}

.btn-secondary {
  margin-left: 60px;
}

.btn-dark{
  background-color: rgb(20, 20, 20);
  margin-left: 600px;
}

/* START OF SKILLS SECTION */

.container-progress {
  background-image: url(./assets/images/computercodebackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1224px;
  height: 680px;
  margin-left: 0;
  margin-right: 0;
}

#skills-container {
  margin-top: 9%;
  height: 400px;
  
}

#skills-title {
  margin-top: 1px;
  margin-bottom: 3%;
}


/* START OF CONTACT SECTION */

.contact-container {
  width: 1224px;
  height: 500px;
  margin-bottom: 10px;
}

h5 {
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
}


input[type=submit] {
  background-color: rgb(126, 126, 126);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #181818;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}



/* FOOTER INCLUDED IN MAIN PAGE */

.footer {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(20, 20, 20);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 25px;
    text-align: center; 
    font-size: small;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}



@media screen and (min-width: 768px) {
  .img-fluid {
      width: 25%;
  }
}