body {
    background-image: url(./assets/images/codepic.jpg);
    background-size: cover;
    overflow: scroll;
}

.header-container {
    background: rgba(255, 255, 255, 0.6);
    justify-content: space-evenly;
    max-width: 100%;
}

a {
    color: black;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

h1 {
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    color: rgb(45, 46, 44);
    text-align: left;
    margin-top: -8.5px;
    margin-left: 0;
    margin-right:2%;
    max-width: 50%;
} 

h3 {
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    color: rgb(44, 43, 43);
    text-align: left;
    justify-content: flex-start;
    max-width: 50%;
}  

.main-container{
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 50px;
    padding-right: 50px;
    height: 380px;
    overflow: scroll;
}

.column-one {
  box-sizing: border-box;
  float: left;
  width: 80%;
  padding: 2px;
  height: 300px;
}

.column-two {
  box-sizing: border-box;
  float: right;
  width: 80%;
  padding: 2px;
  height: 300px;
}

.img-fluid {
  width: 2900px;
  height: 300px;
}

p {
    text-align: center;
    font-size: 11px;
}

.media-links {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    overflow: scroll;
}

.fa {
    padding: 20px;
    font-size: 25px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
  }
  
  .fa:hover {
    opacity: 0.7;
    border-radius: 30%;
  }

  ::before {
      align-content: center;
      align-items: flex-start;
      height: 2%;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
 

h2 {
    font-family: 'Poiret One', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}


.footer {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
   line-height: 25px;
    text-align: center; 
    font-size: small;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
    color: rgb(20, 20, 20);
}